# Environment variables
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
ASSISTANT_ID=0e15ef8f-0fde-48c8-8d7a-596cbd594d81

# IBM Cloud connection parameters
ASSISTANT_IAM_APIKEY=CbEoGPrwsJ-k6mWPh0CqjYJbhyeKfbueKlOMAML3c_p2
ASSISTANT_IAM_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a2f3b088-0a6a-4f9b-972a-19a803218525
